/*selector universal*/
*{
    margin:0;
    padding:0;
    font-family:'Courier New', Courier, monospace;

}
/*selector de etiqueta*/
body{
    background-image:url(ca.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;	
}
/*selector de clase*/
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: aqua;
    padding-top: 20px;
}
.content-form {
    /*comentario*/
    height:300px;
    /*width define el tamaño de ancho*/
    width: 350px;
    /*color de fondo*/
    background-color:rgb(150, 70, 10);
    margin: auto;
    padding: 20px; /*espaciado entre los controles*/
    margin-top: 30px;
    border:7px solid #802d00;
    /*border_radius para redondear esquinas*/
    border-radius:10px;
   

}
form {
    margin: 0 auto;
}

.cajas-texto{
    width:99%;
   padding:5p;
   margin-bottom:10px;
}
/*selector de etiquetas*/
h3{
    text-align:center;
    color:black;
    padding-top:20px;
    padding-bottom:20px;
}
/*selector de id*/
#botones{
    width: 99%;
    padding: 5px;
    margin-bottom: 15px;
    background-color:rgb(3, 241, 11);
    border: 3px solid rgb(22, 68, 0);
    color:black;
}

/*selector de pseudo clase*/
#botones:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(223, 232, 255);
    cursor:pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;


}